{{ define "title"}}{{.pipeline.Label}}{{ end }}

{{ define "sidebar" }}
{{ template "pipelinesidebar" . }}
{{ end }}

{{ define "content" }}


{{if eq .asset.Type "entrypoint"}}

<div class="row" class="pipeline-description">
<div class="col">
{{if ne .pipeline.Description ""}}
  {{safeHTML (markdown .pipeline.Description)}}
{{else}}
  <h1>Pipeline's entry point ({{.asset.Name}})</h1>
{{end}}
</div>
</div>
{{end}}

<div class="row {{if eq .asset.Type "entrypoint"}}hidden{{end}}" >
  <div class="col">
  <h1>{{.asset.Name}}</h1>
  </div>
</div>


{{ range $flash := .flashes }}
<div class="alert alert-success" role="alert">
  {{$flash}}
</div>
{{end}}


<div class="row">
  <div class="col-12">

    <form id="bitfan-asset-form" method="POST" action="">
      <div class="form-group {{if eq .asset.Type "entrypoint"}}hidden{{end}}">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" id="name" value="{{.asset.Name}}">
      </div>
      
      <div style="float:right">
          {{if and (hasSuffix ".conf" .asset.Name) (hasPrefix "text/plain" .asset.ContentType) }}
            <a class="btn btn-outline-success btn-sm" href="/pipelines/{{$.pipeline.Uuid}}/play?with={{.asset.Uuid}}">Test {{.asset.Name}}</a>
          {{end}}
          <a class="btn btn-outline-info btn-sm" href="/pipelines/{{$.pipeline.Uuid}}/assets/{{.asset.Uuid}}/download">Download file</a>
      </div>


      <div class="form-group">
        {{if (hasPrefix  "text/" .asset.ContentType)}}
          <label for="content">Content</label>
          <textarea style="display: none" name="content" id="bitfan-asset-content">{{ string .asset.Value }}</textarea>
          <div style="height: 500px;" id="content"></div>
          <script src="/public/vendor/ace/ace.js" type="text/javascript" charset="utf-8">
          </script>
          <script src="/public/vendor/ace/ext-modelist.js"></script>
          <script>

            $(document).ready(function () {

              function getModeByFileExtension(path){
                  var modelist = ace.require("ace/ext/modelist");
                  return modelist.getModeForPath(path).mode;
              }

              var editor = ace.edit("content");
              editor.setAutoScrollEditorIntoView(true);
              editor.setTheme("ace/theme/monokai");

              var mode = getModeByFileExtension("{{.asset.Name}}");
              editor.getSession().setMode(mode);

              var textarea = $('textarea[name="content"]').hide();
              editor.getSession().setValue(textarea.val());
              editor.getSession().on('change', function(){
                textarea.val(editor.getSession().getValue());
                editor.getSession().clearAnnotations() ;
                {{if eq .asset.Type "entrypoint"}}
                  checkContentSyntax() ;
                {{end}}

              });

              editor.commands.addCommand(
                {
                  name: 'saveFile',
                  bindKey: {
                  win: 'Ctrl-S',
                  mac: 'Command-S',
                  sender: 'editor|cli'
                },
                exec: function(env, args, request) {
                 $("#bitfan-asset-form").submit() ;
                }
              });


              var checkContentSyntax = function () {
                
                sendData = {
                  uuid: "{{.asset.Uuid}}",
                  value: Base64.encode($('#bitfan-asset-content').val())
                }
                $.ajax({
                  type: 'post',
                  contentType: "text/plain; charset=utf-8",
                  data: JSON.stringify(sendData),
                  dataType: 'json',
                  url: "http://{{.apiHost}}/api/v2/assets/{{.asset.Uuid}}/syntax-check",
                  beforeSend: function(){
                    
                  },
                  success: function (output) {
                      editor.getSession().setAnnotations([{
                        row: output.l-1,
                        column: output.c,
                        text: output.m,
                        type: "error" // also warning and information
                      }]);

                  },
                  error: function (output) {
                      return false;
                  }
                });

                return false;
              };


            });
          </script>
        {{end}}
     
        

        {{if (hasPrefix  "image/" .asset.ContentType)}}
        <label for="content">Image</label>
        <span style="padding: 10px; border: dotted 2px black">
          <img alt="Embedded Image" src="data:{{.asset.ContentType}};base64,{{ b64 .asset.Value }}" />
        </span>
        {{end}}



      </div>



      <button type="submit" name="save" class="btn btn-primary">Save</button>

  


    </form>


          <hr>

      <h1>Upload and Replace asset </h1>
        <form action="/pipelines/{{$.pipeline.Uuid}}/assets/{{.asset.Uuid}}" class="dropzone" id="myasset">
          <div class="dz-message needsclick">
            Drop file here to replace this asset.<br>
          </div>
        </form>

        <script type="text/javascript">
          Dropzone.options.myasset = {
          paramName: "file", // The name that will be used to transfer the file
          method:"put",
          maxFilesize: 20, // MB
          createImageThumbnails: true,
          init: function() {
            this.on("success", function(file, asset) {
              // Handle the responseText here. For example, add the text to the preview element:
              // file.previewTemplate.appendChild(document.createTextNode(asset.uuid));
              window.location.href= '/pipelines/'+asset.PipelineUUID+'/assets/' + asset.uuid

            });
          },
        };
        </script>
  </div>
</div>


{{ end }}

