{{ define "title"}}Pipelines{{ end }}

{{ define "sidebar" }}
    
{{ end }}

{{ define "content" }}


<div class="row">
<div class="col">
	<h1>Pipelines</h1>
</div>
<div class="col">
  <div class="float-right">
	

  <div id="asset-actions" class="btn-group btn-group" role="group" aria-label="assets">
    <a href="/pipelines/0/new" class="btn btn-dark">Create new pipeline</a> 

    <a class="btn btn-outline-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="sr-only">Toggle Dropdown</span>
    </a>
    <ul class="dropdown-menu">
      <a href="http://{{.apiHost}}/api/v2/pipelines.zip" class="dropdown-item">
        Download all
      </a>
    </ul>
  </div> 
  

  </div>
</div>
</div>



<div class='table-responsive'>
  <table class='table table-striped'>
    <tr>
      <th>Name</th>
      <th>Scheduler</th>
      <th>HTTP endpoints</th>
      <th></th>
    </tr>

    {{range  $pipeline := .pipelines}}
      <tr>
        <td class=''>
        	<a href="/pipelines/{{$pipeline.Uuid}}{{range $pipeline.Assets}}{{if eq "entrypoint" .Type}}/assets/{{.Uuid}}{{end}}{{end}}" class="">
          {{if $pipeline.Label}}{{$pipeline.Label}}{{else}}noname{{end}}
      </a>
          <br/>
          <small><span class='text-muted'>
      {{if $pipeline.Active}}
      {{dateFormat "dd/MM/YYYY HH:mm:ss" $pipeline.StartedAt }}
      {{end}}
          </span></small>
        </td>
        <td >
          {{range  $scheduler := $pipeline.Schedulers}}
            <small>
            <li>
              [{{$scheduler.AgentName}}]
              <label title="{{$scheduler.Spec}}">
              <script type="text/javascript">document.write(cronstrue.toString("{{$scheduler.Spec}}"));</script>
              </label>
            </li>
            </small>
          {{end}}
        </td>

        <td class=''>
          <small>
          {{range  $webhook := $pipeline.Webhooks}}
            <li>[{{$webhook.Namespace}}] <a href="http://{{$.apiHost}}/{{$webhook.Url}}" target="_blank">{{$webhook.Url}}</a></li>    
          {{end}}
        </small>
        </td>
        <td>
          {{ template "pipelineactions" $pipeline }}
        </td>
      </tr>
    {{else}}
    No pipelines ! <a href="/pipelines/0/new">create a first one</a>
    {{end}}
  </table>
</div>



{{ end }}

