{{ define "title"}}{{.pipeline.Label}}{{ end }}

{{ define "sidebar" }}
{{ template "pipelinesidebar" . }}
{{ end }}

{{ define "content" }}



<div class="row">
  <div class="col">
  <h1>{{.asset.Name}}</h1>
  </div>
</div>


{{ range $flash := .flashes }}
<div class="alert alert-success" role="alert">
  {{$flash}}
</div>
{{end}}


<div class="row">
  <div class="col-12">

    <form method="POST" action="">
       <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" id="name" value="{{.asset.Name}}">
      </div>
      
      <div class="form-group">
        
        {{if (hasPrefix  "text/" .asset.ContentType)}}
        

          <label for="content">Content</label>
          <textarea style="display: none" name="content">{{ string .asset.Value }}</textarea>
          <div style="height: 500px;" id="content"></div>
          <script src="/public/vendor/ace/ace.js" type="text/javascript" charset="utf-8">
          </script>
          <script>
            $(document).ready(function () {
              var editor = ace.edit("content");
              editor.setAutoScrollEditorIntoView(true);
              editor.setTheme("ace/theme/monokai");
              editor.getSession().setMode("ace/mode/javascript");
              var textarea = $('textarea[name="content"]').hide();
              editor.getSession().setValue(textarea.val());
              editor.getSession().on('change', function(){
                textarea.val(editor.getSession().getValue());
              });
            });
          </script>
        {{else}}
          Download : <a href="/pipelines/{{$.pipeline.Uuid}}/assets/{{.asset.Uuid}}/download">{{.asset.Name}}</a>
          <br>
        {{end}}

        {{if (hasPrefix  "image/" .asset.ContentType)}}
        <label for="content">Image</label>
        <span style="padding: 10px; border: dotted 2px black">
          <img alt="Embedded Image" src="data:{{.asset.ContentType}};base64,{{ b64 .asset.Value }}" />
        </span>
        {{end}}



      </div>

      <button type="submit" name="save" class="btn btn-primary">Save</button>
    </form>

          <hr>

      <h1>Upload and Replace asset </h1>
        <form action="/pipelines/{{$.pipeline.Uuid}}/assets/{{.asset.Uuid}}" class="dropzone" id="myasset">
          <div class="dz-message needsclick">
            Drop file here to replace this asset.<br>
          </div>
        </form>

        <script type="text/javascript">
          Dropzone.options.myasset = {
          paramName: "file", // The name that will be used to transfer the file
          method:"put",
          maxFilesize: 20, // MB
          createImageThumbnails: true,
          init: function() {
            this.on("success", function(file, responseText) {
              // Handle the responseText here. For example, add the text to the preview element:
              file.previewTemplate.appendChild(document.createTextNode(responseText));
            });
          },
        };
        </script>
  </div>
</div>


{{ end }}

