{{ define "title"}}Xprocessors{{ end }} {{ define "sidebar" }} {{ end }} {{ define "content" }}
<div class="row">
    <div class="col">
        <h1>Xprocessors</h1>
        <p>
            Custom processor, available into pipeline configuration which use an external binary to handle, produce and/or consume events.
            <br> 3 availables behaviors :
            <br>
            <ul>
                <li>Producer - Produce event on stdout on start and/or on interval</li>
                <li>Transformer - Consume events on process's stdin and write transformed events on process's stdout - <small>process can started for each event received (noStream) or once, on start, and consume stream of events on stdin (stream)</small></li>
                <li>Consumers - Consume events on process's stdin. <small>process can started for each event received (noStream) or once, on start, and consume stream of events on stdin (stream)</small></li>
            </ul>
        </p>
        <p>
            Pipeline configuration options are passed as arguments --option="option value".
            <br>
            <br>On pipeline stop :
            <ul>
                <li>Stream process : its stdin will be closed as a signal to quit, bitfan then wait for process termination.</li>
                <li>noStream process : Bitfan waits for currently running process to quit.</li>
            </ul>
        </p>
    </div>
</div>
<style type="text/css">
.card .card-text {
    zoom: 70%;
    color: #999999
}
</style>
<div class="row">
    <div class="col">
        <a style="float:right" class="btn btn-dark" href="/xprocessors/0/new?behavior=producer">New producer</a>
        <h2>Producers</h2> {{range $xprocessor := .producers}}
        <div class="card" style="width: 100%">
            <div class="card-body">
                <h5 class="card-title">{{if $xprocessor.Label}}{{$xprocessor.Label}}{{else}}noname{{end}}</h5>
                <!-- <h6 class="card-subtitle mb-2 text-muted">({{$xprocessor.Kind}})</h6> -->
                {{if ne $xprocessor.Description ""}}
                <div class="card-text">
                    {{safeHTML (markdown $xprocessor.Description)}}
                </div>
                {{end}}
                <a href="/xprocessors/{{$xprocessor.Uuid}}" class="card-link">Edit</a>
                <a href="/xprocessors/{{.Uuid}}/delete" class="card-link">Delete</a>
            </div>
        </div>
        <p></p>
        {{else}} No Producers ! {{end}}
    </div>
    <div class="col">
        <a style="float:right" class="btn btn-dark" href="/xprocessors/0/new?behavior=transformer">New transformer</a>
        <h2>Transformers</h2> {{range $xprocessor := .transformers}}
        <div class="card" style="width: 100%">
            <div class="card-body">
                <h5 class="card-title">{{if $xprocessor.Label}}{{$xprocessor.Label}}{{else}}noname{{end}}</h5>
                <!-- <h6 class="card-subtitle mb-2 text-muted">({{$xprocessor.Kind}})</h6> -->
                {{if ne $xprocessor.Description ""}}
                <div class="card-text">
                    {{safeHTML (markdown $xprocessor.Description)}}
                </div>
                {{end}}
                <a href="/xprocessors/{{$xprocessor.Uuid}}" class="card-link">Edit</a>
                <a href="/xprocessors/{{.Uuid}}/delete" class="card-link">Delete</a>
            </div>
        </div>
        <p></p>
        {{else}} No Transformers ! {{end}}
    </div>
    <div class="col">
        <a style="float:right" class="btn btn-dark" href="/xprocessors/0/new?behavior=consumer">New consumer</a>
        <h2>Consumers</h2> {{range $xprocessor := .consumers}}
        <div class="card" style="width: 100%">
            <div class="card-body">
                <h5 class="card-title">{{if $xprocessor.Label}}{{$xprocessor.Label}}{{else}}noname{{end}}</h5>
                <!-- <h6 class="card-subtitle mb-2 text-muted">({{$xprocessor.Kind}})</h6> -->
                {{if ne $xprocessor.Description ""}}
                <div class="card-text">
                    {{safeHTML (markdown $xprocessor.Description)}}
                </div>
                {{end}}
                <a href="/xprocessors/{{$xprocessor.Uuid}}" class="card-link">Edit</a>
                <a href="/xprocessors/{{.Uuid}}/delete" class="card-link">Delete</a>
            </div>
        </div>
        <p></p>
        {{else}} No Consumers ! {{end}}
    </div>
</div>
{{ end }}