{{define "playgroundsidebar"}}{{end}} 

{{ define "scripts" }}
<script src="/public/vendor/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/public/vendor/ace/ext-modelist.js"></script>
<script src="/public/vendor/ace/ext-language_tools.js"></script>
<script src="/public/js/playground.js"></script>
<style type="text/css">
article {
    padding: 0px 0px;
}


#pg-container {
    /*display: grid | inline-grid ;*/
    /*display: grid;*/
    display: grid;
    /*width: 100%;*/
    /*height: 250px;*/
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    grid-template-areas: "zoneInput zoneFilter zoneOutput" "zoneConsole zoneConsole zoneConsole";
}


#pg-container .item-input {
    grid-area: zoneInput;
}

#pg-container .item-filter {
    grid-area: zoneFilter;
}

#pg-container .item-output {
    grid-area: zoneOutput;
}

#pg-container .item-console {
    grid-area: zoneConsole;
}

#logs {
  font-size: 12px;
}


.nav-tabs>li>a {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.nav-tabs {
    min-height: 20px !important;
    margin-bottom: 0rem!important;
}

#pan-input {
    /*background-color: red;*/
}

#pan-filter {
    /*background-color: yellow;*/
}

#pan-output {
    /*background-color: green;*/
}

#pan-logs-errors {}


#pan-input,
#pan-filter,
#pan-output,
#pan-logs-errors {
    padding-right: 0px;
    padding-left: 0px;
}

#bitfan-playground-form .row {
    margin-right: 0px;
    margin-left: 0px;
}

#bitfan-playground-form #logs li {
    list-style: none;
}

#bitfan-playground-form .error {
    border: 2px solid red;
    background-color: #F1E6FF;
}

#bitfan-playground-form .success {
    border: 2px solid #408002;
}


.bitbar-control {
    display: block;
    width: 100%;
}


</style>
{{ end }}