{{ define "title"}}Filter playground{{ end }}

{{ define "sidebar" }}
{{ template "playgroundsidebar" . }}
{{ end }}

{{ define "content" }}



<div class="row" >
  <div class="col">
  <h1>Filter Playground</h1>
  </div>
</div>




<div class="row">
  <div class="col-12">

  	 <form id="bitfan-playground-form">
       <div class="form-group">
        <label for="label">Input Event to pass to the first filter processor (as json)</label>
        <textarea class="form-control" rows=5 name="event" id="event" placeholder='{
  "message":    "test message"  ,
  "number":     1,
  "type":       "tester"
}'>{"message":"Hello world"}</textarea>
              
        <button type="button" name="sendEvent" class="btn btn-success" style="display: none;">Send to current pipeline</button>
      
      </div>
      <div class="form-group">
        <label for="description">filter{</label>
        <textarea class="form-control" rows=5 name="filter" id="filter" placeholder="mutate {}"></textarea>}
        <div id="playground-error"></div>
      </div>
      <div class="form-group">

        <button type="submit" name="play" class="btn btn-primary">Play (build a new pipeline)</button>
      </div>
      <div class="form-group">
        <label for="description">Output</label>
        <textarea class="form-control" rows=5 name="output" id="output" placeholder="event produced by last filter processor will be printed here"></textarea>
      </div>
      
    <style type="text/css">
      
      #bitfan-playground-form textarea.error {
        border:2px solid red;
        background-color: #EFB5B3 ;
      }
      #bitfan-playground-form textarea.success {
        border:2px solid #408002;
      }
      #playground-error.error {color:red;}
    </style>

</form>

  </div>
</div>


{{ end }}

